<div class="pos-content">
    <div class="col-md-12">
    <div class="sidecart col-md-4">
      <div class="sidebar">
        <div class="no-cart-products" *ngIf="cartProducts.length == 0">
            <div class="no-content">
                <span class="glyphicon glyphicon-shopping-cart"></span>
                <h4>No products to show</h4>
            </div>
        </div>
        <div class="cart-products" *ngIf="cartProducts.length > 0">
          <div class="cart-headers">
              <div class="cart-text">&nbsp;</div>
              <div class="cart-unit">Qty.</div>
              <div class="cart-unit">Dis.</div>
          </div>
          <div class="order-summary">
                <div class="alert alert-danger" role="alert" *ngIf="!clickItemError">
                    Quantity cannot be greater than stock
                </div>
                <div class="item-details" *ngFor="let product of cartProducts; let i=index">
                    <span class="glyphicon glyphicon-remove remove-cart-entry" (click)="removeProduct(cartProducts, product, i)"></span>
                    <div class="cart-text">
                        <span class="item-name-quantity" *ngIf="product.type === 'singleunit'">{{product.quantity}} x {{product.name}} </span>
                        <span class="item-name-quantity" *ngIf="product.type === 'weighted'">{{product.cartStockWeight/1000 | number:'1.1-4'}} Kg. x {{product.name}} </span>
                        <span class="item-price" *ngIf="!product.discount && product.type === 'singleunit'"><strong>{{product.price * product.quantity | number:'1.0-1' }} @ {{product.price | currency:"PKR":"3"}}/unit</strong></span>
                        <span class="item-price" *ngIf="!product.discount && product.type === 'weighted'"><strong>{{product.price * product.cartStockWeight/1000 | number:'1.0-1' }} @ {{product.price | currency:"PKR":"3"}}/Kg.</strong></span>
                        <span class="item-price" *ngIf="product.discount"><strong>{{((product.price * product.quantity)-((product.price * product.quantity) * (product.discount * 0.01))) | number:'1.0-1'}} @ {{product.price | number:'1.0-1'}}/unit</strong></span>
                        <span class="item-discount" *ngIf="product.discount"><strong>Dis. {{ product.discount }}%</strong></span>
                    </div>
                    <div class="cart-unit" *ngIf="product.type === 'singleunit'">
                        <input *ngIf="checkStockValue" type="number" [(ngModel)]="product.quantity" (change)="changeQuantity(product.quantity, product)" value="{{product.quantity}}" />
                    </div>
                    <div class="cart-unit" *ngIf="product.type === 'weighted'">
                        {{product.cartStockWeight/1000}} KG.
                    </div>

                    <div class="cart-unit">
                        <input type="number" [(ngModel)]="product.discount" (change)="changeDiscount(product.discount, product)" value="{{product.discount}}" />
                    </div>
                </div>
            </div>
        </div>

        <div class="controls-btns">
            <div class="cash-block">
              <div class="inputs">
                  <input type="number" placeholder="Discount" [(ngModel)]="overAllDisc" (change)="overAllDiscCalc()" value="{{overAllDisc}}">
                  <input type="number" id="amountpaid" placeholder="Cash Received" [ngModel]="changeAmount" (ngModelChange)="tenderAmount($event)" value="{{changeAmount}}">
              </div>
              <div class="cart-buttons">
                <div class="col-md-6">
                  <div class="btn-customer" *ngIf="sattledCustomer == null" (click)="customersModal.open()"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Set Customer</div>
                  <div class="btn-customer" *ngIf="sattledCustomer != null" (click)="customersModal.open()"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;{{sattledCustomer.name}}</div>
                  <div class="btn-refund" (click)="refundOrder()"><span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;Refund Order</div>
                  <div class="btn-clearcart" *ngIf="cartTotal == 0"><span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Clear Cart</div>
                  <div class="btn-clearcart active" *ngIf="cartTotal != 0" (click)="clearCart()"><span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Clear Cart</div>
                </div>
                <div class="col-md-6">
                  <div class="btn-cashout" *ngIf="cartTotal == 0 || !isPaymentValid"><span class="glyphicon glyphicon-credit-card"></span>&nbsp;&nbsp;Cash Out</div>
                  <div class="btn-cashout active" *ngIf="cartTotal != 0 && isPaymentValid" (click)="cashOut()" #cashoutbtn><span class="glyphicon glyphicon-credit-card"></span>&nbsp;&nbsp;Cash Out</div>
                </div>
              </div>
            </div>
            <div class="value-block">
              <div class="change-amount cash-amount">
                  <span *ngIf="(changeAmount >= (cartTotal - overAllDisc)) && changeAmount !== null">
                      <strong> {{(changeAmount - (cartTotal - overAllDisc)) | number:"1.0-1"}}</strong><span>Change</span>
                  </span>
                  <span *ngIf="(changeAmount < (cartTotal - overAllDisc)) || (changeAmount === null)">
                      <strong> 0</strong><span>Change</span>
                  </span>
              </div>
              <div class="cash-amount" *ngIf="cartTotal == 0">
                  <span>
                    <strong>----</strong><span>Gross Total</span>
                  </span>
              </div>
              <div class="cash-amount" *ngIf="cartTotal != 0">
                  <span>
                    <strong class="price">{{cartTotal - overAllDisc | number:"1.0-1"}}</strong><span>Gross Total</span>
                  </span>
              </div>
            </div>
        </div>
      </div>
    </div>
        <div class="col-md-8 main-content">
            <div class="entery-content header-pos">
                <div class="col-md-5">
                    <div class="input-group form-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-barcode"></span></div>
                        <input class="form-control input-sm" [(ngModel)]="barCode" id="inlineFormInputGroup" (keypress)="process_barcode($event)" placeholder="Enter or Scan Product Barcode" #barcode/>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="input-group form-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                        <input class="form-control input-sm" [(ngModel)]="filterQuery" id="inlineFormInputGroup" placeholder="Search Product By Name" />
                    </div>
                </div>
                <div class="col-md-2">
                    <button (click)="goBack()" class="btn btn-danger btn-sm pull-right" name="goback">Close</button>
                    <!--           <button (click)="refundOrder()" class="btn btn-danger btn-sm pull-right" name="refund-order">Refund Order</button>
          <button (click)="customersModal.open()" class="btn btn-danger btn-sm pull-right" name="set-customer">Set Custsomer</button> -->
                </div>
            </div>
            <div class="product-stock-list" *ngIf="allProducts.length > 0">
                <!-- <process-order orderTotal="{{cartTotal}}" orderId="2"></process-order> -->
              <div class="mobile-scroll">
                <div class="click-alert" *ngIf="!clickStockVal">
                    <alert type="danger" dismissOnTimeout="3000">
                        <span class="glyphicon glyphicon-info-sign"></span> Quantity Increased than Stock Value
                    </alert>
                </div>
                <div class="col-md-3 stock-item" *ngFor="let product of allProducts | dataFilter: filterQuery">
                    <div class="stock-entry" (click)="getProduct(product)">
                        <h5 class="stock-name">{{product.name}}</h5>
                        <div class="stock-info">
                            <span id="price-amount">{{product.price | currency:"PKR":"3"}}<strong>&nbsp;/ Unit.</strong></span>
                            <span id="stock-amount" *ngIf="product.type === 'singleunit'">- {{product.stockval}} -</span>
                            <span id="stock-amount" *ngIf="product.type === 'weighted'">- {{product.weight/1000}}&nbsp;Kg. -</span>
                            <!-- <span id="stock-amount" *ngIf="product.stockval<=0">- Out of Stock -</span> -->
                            <!-- <span id="stock-amount" *ngIf="product.weight<=0">- Out of Stock -</span> -->
                        </div>
                        <!-- <input type="number" *ngIf="selectedTab === product._id"> -->
                    </div>
                </div>
              </div>
                <div class="col-md-8" *ngIf="allProducts.length == 0">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                    <h3>No Products to show. Add Products from Inventory to Show here!</h3>
                </div>
            </div>
        </div>

    </div>
    <!-- Validate Payment Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Process Payment</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="payment-table">
                        <alert *ngIf="!cashAlert" type="danger" dismissOnTimeout="4000">
                            <span class="glyphicon glyphicon-info-sign"></span> Cash received must be greater than or equal to total amount
                        </alert>
                        <div class="control-box">
                            <div class="table-name">
                                <span>Total</span>
                            </div>
                            <div class="table-value">
                                <span>{{cartTotal | currency:"PKR":"3"}}</span>
                            </div>
                        </div>
                        <div class="control-box">
                            <div class="table-name">
                                <span>Discount</span>
                            </div>
                            <div class="table-value">
                                <input type="number" [(ngModel)]="overAllDisc" (change)="overAllDiscCalc()" value="{{overAllDisc}}">
                            </div>
                        </div>
                        <div class="control-box">
                            <div class="table-name">
                                <span>Due</span>
                            </div>
                            <div class="table-value">
                                <span>{{(cartTotal - overAllDisc) | currency:"PKR":"3"}}</span>
                            </div>
                        </div>
                        <div class="control-box">
                            <div class="table-name">
                                <span>Cash Received</span>
                            </div>
                            <div class="table-value">
                                <input type="number" autofocus="" [ngModel]="changeAmount" (ngModelChange)="tenderAmount($event)" value="{{changeAmount}}">
                            </div>
                        </div>
                        <div class="control-box">
                            <div class="table-name">
                                <span>Change</span>
                            </div>
                            <div class="table-value">
                                <!-- <span *ngIf="(changeAmount && (changeAmount < (cartTotal - overAllDisc)))">-/-</span> -->
                                <span *ngIf="(changeAmount >= (cartTotal - overAllDisc))">{{(changeAmount - (cartTotal - overAllDisc)) | currency:"PKR":"3"}}</span>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" #closeBtn>Close</button>
                        <button type="button" class="btn btn-primary" (click)="addOrderHistory()" [disabled]="!isPaymentValid" data-toggle="modal" data-target="#invoiceModal" data-backdrop="static" data-keyboard="false">Validate Payment</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Invoice Modal -->
    <div class="modal fade" id="invoiceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn btn-primary" (click)="printInvoice()">Print Receipt</button>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="order-print-list">
                        <div class="col-md-12">
                            <div class="company-info">
                                <!-- <span class="company-name">Ajeel Coffee and Dry Fruit Company</span>
                                <span class="company-address">DHA, Lahore, Pakistan</span>
                                <span class="company-phone">+92 xxx xxxxxxx</span> -->
                                <span class="company-name">Ajeel</span>
                                <span class="company-name">Nature's Premium Gifts</span>
                                <span class="company-address">F-6 Commercial, Phase 1, DHA, Lahore</span>
                                <span class="company-phone">+92-42-35691607</span>
                            </div>
                        </div>
                        <div class="col-md-12 order-date-time">
                            <span id="oderId" class="col-md-3">Order&nbsp;#:&nbsp;{{orderId}}</span>
                            <span id="orderTimeStamp" class="col-md-9">{{orderTimeStamp | date:'medium'}}</span>
                        </div>
                        <div class="order-print-detail" *ngFor="let product of cartProducts">
                            <div class="col-md-6">
                                <span class="item-name-quantity">{{product.name}}</span>
                            </div>
                            <div class="col-md-2">
                                <span class="print-item-quantity">{{product.quantity}}</span>
                            </div>
                            <div class="col-md-2">
<!--                                 <span class="print-item-discount" *ngIf="product.discount == 0">{{product.discount}}</span>
                                <span class="print-item-discount" *ngIf="product.discount > 0">{{product.discount}}%</span> -->
                                <span class="print-item-discount" *ngIf="product.discount > 0">{{product.price}}</span>
                            </div>
                            <div class="col-md-2">
                                <span class="item-price" *ngIf="!product.discount"><strong>{{product.price * product.quantity | currency:"PKR":"3" }}</strong></span>
                                <span class="item-price" *ngIf="product.discount"><strong>{{((product.price * product.quantity)-((product.price * product.quantity) * (product.discount * 0.01))) | currency:"PKR":"3"}}</strong></span>
                            </div>
                        </div>
                        <div class="order-print-total">
                            <span id="order-total">Sale: <strong>{{cartTotal | currency:"PKR":"3"}}</strong></span>
                            <span id="order-discount">Disc: <strong>{{overAllDisc | currency:"PKR":"3"}}</strong></span>
                            <span id="order-cash">Net Sale Cash: <strong>{{changeAmount | currency:"PKR":"3"}}</strong></span>
                            <span id="order-change">Change: <strong>{{((changeAmount - (cartTotal - overAllDisc))) | currency:"PKR":"3"}}</strong></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="invoiceCloseModal()" data-dismiss="modal" #invoiceModalCloseBtn>Close</button>
                        <button type="button" class="btn btn-primary" (click)="nextOrder()">Next Order</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <modal #customersModal cancelButtonLabel="cancel" modalClass="modal-lg modal-dialog" (onOpen)="getCustomers()" [closeOnEscape]="false" [closeOnOutsideClick]="false" [hideCloseButton]="true">
        <modal-header>
            <h3>All Customers</h3>
            <button class="btn btn-primary pull-right" (click)="addCustomersModal.open()">Add</button>
        </modal-header>
        <modal-content>
            <div class="input-group form-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                <input class="form-control input-sm" [(ngModel)]="filterQuery" id="inlineFormInputGroup" placeholder="Enter Customer Name" />
            </div>
            <ul class="list-group">
                <li *ngFor="let customer of allCustomer | dataFilter: filterQuery; let i=index" class="tempCheck" [ngClass]="{'active': selectedIndex == customer._id, 'list-group-item': true}">
                    <span>{{customer.name}}</span>
                    <button class="btn btn-danger btn-sm pull-right" (click)="select(customer._id, customer, $event);" *ngIf="selectedIndex == customer._id">Deselect</button>
                    <button class="btn btn-success btn-sm pull-right" (click)="select(customer._id, customer, $event);customersModal.close();" *ngIf="selectedIndex != customer._id">Select</button>
                </li>
<!--                 <div class="pagination">
                  <a href="#">&laquo;</a>
                  <a class="btn" (click)="getCustomersPage(1)">1</a>
                  <a class="btn" (click)="getCustomersPage(2)">2</a>
                  <a class="btn" (click)="getCustomersPage(3)">3</a>
                  <a class="btn" (click)="getCustomersPage(4)">4</a>
                  <a class="btn" (click)="getCustomersPage(5)">5</a>
                  <a class="btn" (click)="getCustomersPage(6)">6</a>
                  <a>&raquo;</a>
                </div> -->
                <div class="pagination customer-pages">
                  <a class="btn" (click)="getCustomersPage(currentPage - 1)">&laquo;</a>
                  <a class="btn" [ngClass]="{'active': currentPage == page}" *ngFor="let page of customerPages" (click)="getCustomersPage(page)">{{page}}</a>
                  <a class="btn" (click)="getCustomersPage(currentPage + 1)">&raquo;</a>
                </div>
            </ul>
        </modal-content>
        <!-- <modal-footer>
                <button class="btn btn-primary btn-block" (click)="customersModal.close()">close</button>
            </modal-footer> -->
    </modal>
    <modal #addCustomersModal [closeOnEscape]="false" [closeOnOutsideClick]="false" modalClass="modal-lg">
        <modal-header>
            <h3>Add Customer</h3>
            <!-- <button class="btn btn-primary pull-right">Add</button> -->
        </modal-header>
        <modal-content>
            <form class="customer-form" (ngSubmit)="addCustomer(addCustomerForm.value, $event)" [formGroup]="addCustomerForm">
                <div class="form-group" [ngClass]="{'has-error':!addCustomerForm.controls['name'].valid && addCustomerForm.controls['name'].touched}">
                    <label class="control-label" for="customer-name">Name</label>
                    <input type="text" [formControl]="addCustomerForm.controls['name']" class="form-control" formControlName="name" placeholder="Enter Customer Name" id="customer-name" required/>
                    <div class="alert alert-danger require-field" role="alert" *ngIf="addCustomerForm.controls['name'].hasError('required') && (addCustomerForm.controls['name'].touched || addCustomerForm.controls['name'].dirty)"><span class="glyphicon glyphicon-info-sign"></span> This is Required Field</div>
                </div>
                <div class="form-group">
                    <!-- [ngClass]="{'has-error':!addCustomerForm.controls['phone'].valid && addCustomerForm.controls['phone'].touched}"> -->
                    <label class="control-label" for="customer-phone">Phone</label>
                    <input [formControl]="addCustomerForm.controls['phone']" formControlName="phone" class="form-control" id="customer-phone" placeholder="Enter Customer Phone" type="text" name="customer-phone" required/>
                    <!-- <div class="alert alert-danger require-field" role="alert" *ngIf="addCustomerForm.controls['phone'].hasError('required') && (addCustomerForm.controls['phone'].touched || addCustomerForm.controls['phone'].dirty)"><span class="glyphicon glyphicon-info-sign"></span> This is Required Field</div> -->
                </div>
                <div class="form-group">
                    <!-- [ngClass]="{'has-error':!addCustomerForm.controls['email'].valid && addCustomerForm.controls['email'].touched}"> -->
                    <label class="control-label" for="customer-email">Email</label>
                    <input [formControl]="addCustomerForm.controls['email']" formControlName="email" class="form-control" id="customer-email" placeholder="Enter Customer Email" type="text" required/>
                    <!-- <div class="alert alert-danger require-field" role="alert" *ngIf="addCustomerForm.controls['email'].hasError('required') && (addCustomerForm.controls['email'].touched || addCustomerForm.controls['email'].dirty)"><span class="glyphicon glyphicon-info-sign"></span> This is Required Field</div> -->
                </div>
                <div class="form-group">
                    <!-- [ngClass]="{'has-error':!addCustomerForm.controls['address'].valid && addCustomerForm.controls['address'].touched}"> -->
                    <label class="control-label" for="customer-address">Address</label>
                    <input [formControl]="addCustomerForm.controls['address']" formControlName="address" class="form-control" id="customer-address" placeholder="Enter Customer Address" type="text" required/>
                    <!-- <div class="alert alert-danger require-field" role="alert" *ngIf="addCustomerForm.controls['address'].hasError('required') && (addCustomerForm.controls['address'].touched || addCustomerForm.controls['address'].dirty)"><span class="glyphicon glyphicon-info-sign"></span> This is Required Field</div>
                  <div *ngIf="!scannedExists" class="alert alert-danger require-field"><span class="glyphicon glyphicon-info-sign"></span> Product Exists with same address</div> -->
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" (click)="addCustomersModal.close()" [disabled]="!addCustomerForm.controls['name'].valid" name="addCustomerForm">Add</button>
                </div>
            </form>
        </modal-content>
        <modal-footer>
            <button class="btn btn-primary btn-block" (click)="addCustomersModal.close()">close</button>
        </modal-footer>
    </modal>
</div>
