.btn{
  border-radius: 0;

}
.cart-total .btn{
      width:85%;
}
input{
  border-radius: 0;
}
.input-group-addon {
    border-radius: 0;
}
.no-right-padding {
    padding-right: 0;
}
/***ORDER SUMMARY DESIGNS*/
.product-stock-list {
    margin-top: 70px;
}
.cart-total {
    display: block;
    height:20%;
    width: 100%;
    background:#293B4D;
    padding: 20px 0;
    position: relative;
}
.cart-total .btn {
    margin: 6px;
}
.cart-products .cart-headers {
  display: table;
  width: 100%;
  font-weight: 600;
  margin-top: 10px;
  color: #d43a32;
  text-align: center;
  padding-right: 20px;
}
.cart-headers div {
    display: inline-block;
    padding-left:0;
}
.header-pos .entery-content {
    margin-top: 12px !important;
}
.order-summary {
    /*height: calc(80% - 67px);*/
    height: calc(100% - 261px);
    overflow-y: auto;
    margin-left: 10px;
    margin-top: 8px;
    position: relative;
    display: block;
}
.cart-text {
    width: 58%;
    display: inline-block;
    padding-left: 3%;
    vertical-align: middle;
}
.cart-unit {
    display: inline-block;
    padding-left: 5%;
    width:17%;
    vertical-align: middle;
}
.no-cart-products {
    background-color:#fff;
    text-align: center;
    height: calc(100% - 224px);
}
.no-content {
  position: absolute;
  text-align: center;
  width: 100%;
  top: calc(50vh - 33%);
  font-size: 14vw;
}
.no-cart-products h4, .no-cart-products span {
    color: #d9534f;
    line-height: 1.2;
    font-size: 2.5vh;
}
.no-cart-products span {
    font-size: 32%;
}


.item-details span.item-price {
    font-size: 12px;
}
.pos-content {
    background: #fff;
    /*background: #000;*/
}

.pos-content .col-md-12, .pos-content .cart-products {
    padding: 0;
}

.item-details {
  display: table;
  width: 100%;
  padding: 3px 13px 4px 12px;
  position: relative;
  border-left: 3px solid #0E7AC4;
  margin-bottom: 10px;
  color: #777;
  background:#fff;
}
.order-print-detail{
    padding: 15px 15px 20px;
    display: table;
    width: 100%;
}
.remove-cart-entry {
  position: absolute;
  right: 1%;
  top: 33%;
  padding: 0 3px 0 8px;
  color: #d9534f;
  z-index: 9999;
}
.btn-success {
    color: #fff;
    background-color: #26A69A;
    border-color: #26A69A;
}
.item-details span {
    display: block;
        text-transform: capitalize;
}
.item-details .col-md-2 input {
    width: 50;
}
.cart-total .col-md-6 .btn{
  display: :block;
}
.cart-total .total-amount {
    position: relative;
}

.cart-total .total-amount .total-value {
    display: block;
    font-size: 22px;
    color: #eee;
    line-height: 2;
    padding-top: 0;
    text-align: right;
    padding-right: 15px;
}

.total-value strong#total-prefix {
    font-size: 22px;
    font-weight: 500;
    display: block;
    color: #eee;
}
/*process payment*/
.payment-table {
    display: inline-block;
    width: 100%;
    margin-bottom: 25px;
}
.payment-table .control-box {
    display: inline-table;
    width: 19.5%;
    /*height: 86px;*/
}
.payment-table .control-box {
    display: inline-table;
    width: 19.5%;
    /* height: 86px; */
}

.payment-table .control-box .table-value {
    max-height: 40px;
    height: 40px;
    background: #6ec89b;
}
.table-value span {
    width: 100%;
    display: inline-block;
    height: inherit;
    padding: 10px 10px;
    color:#fff;
}

.control-box .table-name span {
    margin: 10px;
    font-weight: 500;
    display: block;
    font-size: 16px;
}
/*.payment-table .control-box .table-value span {width: 100%;display: flex;}*/
.payment-table div {
    overflow: hidden;
}
.payment-table div.table-value
 input {
    width: 100%;
}
.order-print-list {
    height: 400px;
    overflow-y: scroll;
    min-height: 400px;
}
.order-print-total span {
    display: block;
    margin: 10px 10px;
    text-align: right;
}

.order-print-total {
    margin-right: 10px;
    border-top: 1px solid #ccc;
}
.company-info span {
    display: block;
    text-align: center;
}

#oderId, #orderTimeStamp {
    text-align: center;
    padding-bottom: 14px;
}


.company-info {
    margin: 0 0px 15px;
    border-bottom: 1px solid;
    border-bottom-style: dotted;
    padding-bottom: 12px;
}

.company-info .company-name {
    font-weight: bold;
    font-size: 15px;
}

.order-date-time {
    border-bottom: 1px solid;
    border-bottom-style: dotted;
}
/*ITEMS TO THE LEFT I.E. STOCK ITEM*/
.product-stock-list .stock-entry
 span {
    display: block;
    text-align: right;
    margin: 9px 0px;
}
.product-stock-list .stock-entry .stock-name {
    /*background: #0E7AC4;*/
    background: #386ebf;
    padding: 10px 6px;
    text-align: center;
    margin: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
}
.product-stock-list .stock-entry {
    padding: 0;
    margin: 0 0px 30px 0px;
    background: #fff;
    box-shadow: -1px 0px 15px -3px #ddd;
    border: 1px solid #eee;
    height:145px;
}
.stock-info {
  padding: 22px 10px 45px 10px;
  font-size: 12px;
}

#price-amount strong {
    color: #999;
}
span#price-amount {
    color: #0E7AC4;
}
#stock-amount{
    width: auto;
    padding: 8px;
    color: #d9534f;
    position: absolute;
    bottom: 45px;
    right: 20px;
    font-weight: 600;
}
/*sidebar*/

.pos-content .sidebar{
  position: fixed;
  height: 100%;
  width:inherit;
  left:0;
  background: #f9f9f9;
}
.controls-btns {
    display: block;
}
.controls-btns .all-btns {
    display: inline-block;
    float:left;
    /*min-height: 120px;*/
    /*background: cadetblue;*/
}


.controls-btns .first-block-btns .btn-cashout.active {
    /*padding: 25px 0;*/
    background: #5cb85c;
    color:#fff;
}
.controls-btns .second-block-btns .btn-refund {
    padding: 10px 0;
    /*background: chocolate;*/
    /*max-height: 40px;*/
}
.controls-btns .second-block-btns .btn-recentorders {
    padding: 10px 0;
    background: #D9534F;
    color:transparent;
    /*cursor: none;*/
    /*background: turquoise;*/
    /*min-height: 40px;*/
}
.cart-buttons{
  display: table;
  width: 100%;
}
.btn-cashout, .btn-clearcart, .btn-refund, .btn-customer {
  color: #f4f4f4;
  text-align: center;
  border: 1px solid #f4f4f4;
  padding: 5px;
  width: 100%;
  display: inline-block;
  margin: 5px 1%;
  -webkit-transition: 0.3s ease-in-out 0s;
  -moz-transition: 0.3s ease-in-out 0s;
  -ms-transition: 0.3s ease-in-out 0s;
  cursor: pointer;
  font-size: 12px;
}
.btn-cashout {
    padding: 44px 0;
    border: 0;
    color: #444;
    font-size: 14px;
    cursor: no-drop;
    background-color: #ded5d5;
    background-color: rgba(244,244,244,0.7);
    background-color: #d4d3e2;
}
.btn-cashout.active{
  background-color: #4baf4f;
  color:#fff;
}
.btn-cashout.active, .btn-clearcart.active {
  cursor:pointer;
}
.controls-btns .second-block-btns .btn-clearcart {
    padding: 10px 0;
/*    background: #D9534F;
    color: #fff;*/
    /*min-height: 40px;*/
}
.controls-btns .second-block-btns .btn-clearcart.active {
    padding: 10px 0;
    background: #D9534F;
    color: #fff;
    /*min-height: 40px;*/
}
.btn-clearcart{
  cursor: no-drop;
}
.btn-clearcart.active{
  background: #843435;
  background-color: #d9534f;
  border-color: #d9534f;
  color:#fff;
  cursor: pointer;
}
.btn-cashout.active:hover, .btn-clearcart.active:hover, .btn-refund:hover, .btn-customer:hover {
  border-color: transparent;
  background-color: #4baf4f;
}
.btn-cashout.active:hover {
    /*background-color: #5cb85c;*/
    background-color: #36882c;
}
.btn-clearcart.active:hover{
  background: #843435;
}
.controls-btns .all-btns div {
    color: #293B4D;
    border: 1px solid #293B4D;
    margin: 4px 0px 4px 4px;
    background: #F9F9F9;
    display: block;
    text-align: center;
    cursor: pointer;
}

.controls-btns .value-block{
  width: 100%;
  display: inline-block;
  background-color: #386ebf;
  color: #16d41e;
  padding:10px;
  padding-top:2px;
  /*color: rgb(212,63,53);
  color:#5cb85c;*/
}
.controls-btns .cash-amount {
    display: block;
    width: 50%;
    float: left;
    text-align: center;
}
.cash-amount strong {
    display: block;
    font-size: 26px;
    font-weight: normal;
}
.cash-amount span span {
    font-size: 13px;
    color: gainsboro;
}
.cash-amount .total-value .price {
  display: inline-block;
}

/*.cash-amount .total-value .price::first-letter {
  padding-right: 0.3em;
}*/

.cash-block {
    width: 100%;
    background-color: #386ebf;
    padding-top: 2px;
}
.cash-block .inputs{
    display: inline-block;
    margin-bottom: 3px;
    width: 100%;
}
.cash-block .inputs input {
  width: 50%;
  border: 1px solid #ddd;
  background-color: #fff;
  color: #666;
}

/*Media Queries*/
@media only screen and (max-width: 990px) {
  .sidecart.col-md-4 {
    float: left;
    width: 40%;
  }
  .col-md-8.main-content {
      float: left;
      width: 60%;
  }
  .col-md-3.stock-item {
    width: 50%;
    float: left;
  }
.pos-content .sidebar{
  overflow:auto;
}
.cart-buttons .col-md-6 {
    width: 50%;
    float: left;
    padding: 0 2%;
}
.btn-cashout, .btn-clearcart, .btn-refund, .btn-customer{
  font-size: 10px;
}
.btn-cashout{
  font-size:12px;
  padding: 30px 0;
  margin: 9% 0%;
}
.header-pos{
  padding: 8px 8px 2px;
}
.header-pos .col-md-5 {
    display: inline-block;
    width: 41%;
    padding: 0;
    margin-right: 1%;
    position: relative;
}
.header-pos .col-md-2 {
    float: right;
    display: inline-block;
    vertical-align: top;
    padding: 0;
}
.header-pos .input-group{margin:0;}
.cart-products .cart-headers{display:none;}
.order-summary{height: calc(100% - 224px);}
.no-cart-products[_ngcontent-c0] {height: calc(100% - 217px);}
.cart-text { width: 53%;}
.cart-unit { width:20%;margin-right: 6px;}
}
@media only screen and (max-width: 630px) {
  .mobile-scroll {
      position: absolute;
      width: 100%;
      overflow: auto;
      white-space: nowrap;
  }
  .product-stock-list {
    margin-top: 85px;
}
.mobile-scroll {
    background-color: #1e272e;
}
  .mobile-scroll .col-md-3.stock-item {
    float: none;
    width: 160px;
    display: inline-block;
    box-shadow: none;
    padding: 5px;
}
.product-stock-list .stock-entry{
  margin: 15px 0px 15px 0px;
  box-shadow: none;
  height: 130px;
  }
  .entery-content.header-pos {
    width: 100%;
    height: 48px;
}
}
