<!-- <process-order></process-order>
<table>
        <thead>
            <th>Product</th>
        </thead>
        <tbody>
            <tr *ngFor="let result of results">
                <td>{{result}}</td>
            </tr>
        </tbody>
    </table>
<form class="form-inline">
  <div class="form-group">
    {{results}}
    <input type="email" class="form-control" [(ngModel)]="scanedBarcode"
      name="barcode" (keypress)="process_barcode($event)"
      autocomplete="off">

  </div>
</form> -->
<!-- <div class="row"> -->
  <div class="header-pos col-md-12">
    <div class="entry-content">
      <div class="col-md-6">
        <div class="input-group form-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
          <!-- <input class="form-control input-sm" (change)="setFilterQuery(filterQuery)" [(ngModel)]="filterQuery" placeholder="Search By ID"/> -->
          <input class="form-control" placeholder="Enter Order ID" type="text" name="orderNumber" id="orderNumber" [ngModel]="orderNumber" (ngModelChange)="refundOrder($event)" autofocus />

        </div>
      </div>
      <div class="col-md-6">
        <button (click)="goBack()" class="btn btn-danger btn-sm pull-right" name="goback">Back</button>
      </div>
    </div>
  </div>  
<!--   <div class="col-md-12">
    <div class="form-group">
      <label class="control-label" for="orderNumber"></label>
      <input class="form-control" placeholder="Enter Order ID" type="text" name="orderNumber" id="orderNumber" [ngModel]="orderNumber" (ngModelChange)="refundOrder($event)" autofocus />
    </div>
  </div>  --> 
<div class="main-body">
  <div class="col-md-6 order-list">
    <h4>Order Details</h4>
    <div class="orderDetail" *ngIf="orderToRefund == null">
      <span>No Order To Show</span>
      <!-- <process-order orderTotal="Hello"></process-order> -->
    </div>
    <div class="orderDetail" *ngIf="orderToRefund != null">
      <div class="click-alert" *ngIf="!isRefund">
        <alert type="danger" dismissOnTimeout="2000">
          <span class="glyphicon glyphicon-info-sign"></span> Already Refunded Item; Cannot add to refund list
        </alert>
      </div>
      <div class="orderitem">
          <!-- <h6>Click product to refund</h6> -->
          <div class="entry-header">
            <span class="header-name">Name</span>
            <span class="header-quantity">Qty</span>
            <span class="header-price">Price</span>
            <span class="header-action">Action</span>
          </div>
          <div class="add-entry" *ngFor="let product of orderItems">
            <span class="entry-name">{{product.name}}</span>
            <span class="entry-quantity">{{product.quantity}}</span>
            <span class="entry-price">{{product.cartPrice}}</span>
            <button class="btn btn-danger btn-refund" (click)="refundItems(product)">Refund</button>
          </div>
          <span class="total">Grand Total: {{orderToRefund.orderTotal}}</span>
      </div>
    </div>
  </div>      
  <div class="col-md-6 refund-list">
    <h4>Refund Items <span *ngIf="itemsToRefund.length != 0">from Order ID: {{orderToRefund.orderId}}</span></h4>
    <div class="click-alert" *ngIf="!isRefundSave">
      <alert type="success" dismissOnTimeout="2000">
        <span class="glyphicon glyphicon-info-sign"></span> Refund Successfull
      </alert>
    </div>
    <div class="orderDetail" *ngIf="itemsToRefund.length == 0">
      <span>No Items Selected</span>
    </div>
    <div class="orderDetail" *ngIf="itemsToRefund.length != 0">
      <div class="click-alert" *ngIf="!isInList">
        <alert type="danger" dismissOnTimeout="2000">
          <span class="glyphicon glyphicon-info-sign"></span> Already In List; Cannot add to refund list
        </alert>
      </div>
      <div class="orderitem">
        <!-- <h6>Items To refund </h6> -->
        <div class="entry-header">
          <span class="header-name">Name</span>
          <span class="header-quantity">Qty</span>
          <span class="header-price">Price</span>
          <span class="header-action">Action</span>
        </div>
        <div class="add-entry" *ngFor="let product of itemsToRefund; let i=index">
          <span class="entry-name">{{product.name}}</span>
          <span class="entry-quantity">&nbsp;-{{product.quantity}}</span>
          <span class="entry-price">&nbsp;-{{product.cartPrice}}</span>
          <button class="btn btn-danger btn-refund" (click)="removeProduct(itemsToRefund, product, i)">Remove</button>
        </div>
        <span class="total refund-total">
          Refund Amount: {{refundAmount}}
          <div class="action-btns">
            <button class="btn btn-danger" [disabled]="itemsToRefund.length == 0" (click)="clearRefundItems()">Clear All</button>
            <button class="btn btn-success" [disabled]="itemsToRefund.length == 0" (click)="saveRefund(orderToRefund, itemsToRefund)">Save</button>
          </div>
        </span>
      </div>
    </div>
  </div>      
</div>
<!-- </div> -->
