.btn{
  border-radius: 0;

}
.orderitem .total .action-btns {
    float: right;
    display: inline-block;
}
.main-body{
	margin-top: 6%;
}
.orderitem .entry-header {
    padding: 20px 10px;
    width: 100%;
    background: #386ebf;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.orderitem .entry-header .header-name,
.orderitem  .add-entry .entry-name {
    width: 40%;
}

.orderitem .entry-header span,
.orderitem .add-entry span {
    display: inline-block;
}

.orderitem .entry-header .header-quantity,
.orderitem .add-entry .entry-quantity,
.orderitem .entry-header .header-price,
.orderitem .add-entry .entry-price {
    width: 18%;
}


.orderitem .add-entry{
    padding: 10px;
}

.orderitem .total {
    display: inline-block;
    width: 100%;
    background: #386ebf;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px;
}

.add-entry:nth-child(2n+1) {
    background: #fff;
}
