.order-print-list {
    height: 400px;
    overflow-y: scroll;
    min-height: 400px;
}
.order-print-list .col-md-12 {
    padding: 0;
}
.company-info span {
    display: block;
    text-align: center;
}
.order-print-total span {
    display: block;
    margin: 5px 25px;
    text-align: right;
}
#oderId, #orderTimeStamp {
    text-align: center;
    padding-bottom: 14px;
}
.btn{
  border-radius: 0;
}
input, select{
  border-radius: 0;
}
.input-group-addon {
    border-radius: 0;
}
.order-print-total{
  display: inline-block;
  width: 100%;
}
.order-print-total {
    margin-right: 10px;
    border-top: 1px solid #ccc;
}
.company-info {
    margin: 0 0px 15px;
    border-bottom: 1px solid;
    border-bottom-style: dotted;
    padding-bottom: 12px;
}

.company-info .company-name {
    font-weight: bold;
    font-size: 15px;
}

.order-date-time {
    border-bottom: 1px solid;
    border-bottom-style: dotted;
}
.no-left-padding {
    padding-left: 0;
}

.no-right-padding {
    padding-right: 0;
}

.order-side-bar{
  padding:0;
  position: fixed;
  top:0;
  left: 0;
  height:100%;
  background: #fff;
}
.order-side-bar h1,
.order-side-bar h2,
.order-side-bar h3,
.order-side-bar h4,
.order-side-bar h5,
.order-side-bar h6{
    background: #4BAF4F;
    margin: 0;
    color: #eee;
    padding: 20px;
    border-right: 1px solid #f4f4f4;
    box-shadow: 2px 1px 5px rgba(0,0,0,0.4);
}
.order-filters {
    padding: 15px;
}

.orders-table {
    margin-left: 25%;
    margin-top: 5.6%;
}
#total-sales {
    float: right;
    font-size: 15px;
    margin-top: 3px;
    font-weight:600;
}
.mt-20{
    margin-top: 20px !important;
}
.oredr-item-details .col-md-6{
  padding-right: 15px;
} 
.oredr-item-details .col-md-2{
  padding-right: 0px;
  padding-left: 0px;
}