<div class="orders-content">
    <div class="col-md-3 order-side-bar">
      <!-- Sidebar -->
      <h4>All Revenue: <span id="total-sales" *ngIf="TotalSales">&nbsp;{{TotalSales - TotalDiscounts | currency:"PKR":"2"}}</span></h4>
      <div class="order-filters">
        <label class="label-control">Filter Sales By Month</label>               
        <select [(ngModel)]="selectedMonth" class="form-control" (change)="getResultsByMonth(selectedMonth)">
          <option [ngValue]="null">All Sales</option>
          <option ngValue="January">January</option>
          <option ngValue="February">February</option>
          <option ngValue="March">March</option>
          <option ngValue="April">April</option>
          <option ngValue="May">May</option>
          <option ngValue="June">June</option>
          <option ngValue="July">July</option>
          <option ngValue="August">August</option>
          <option ngValue="September">September</option>
          <option ngValue="October">October</option>
          <option ngValue="November">November</option>
          <option ngValue="December">December</option>
        </select>
      </div>
      <div class="order-filters">
        <label class="label-control">Filter Sales By Year</label>               
        <select [(ngModel)]="selectedYear" class="form-control" (change)="getResultsByMonth(selectedMonth)">
          <option [ngValue]="null">All Years</option>
          <option ngValue="2016">2016</option>
          <option ngValue="2017">2017</option>
          <option ngValue="2018">2018</option>
          <option ngValue="2019">2019</option>
          <option ngValue="2020">2020</option>
          <option ngValue="2021">2021</option>
        </select>
      </div>

      <div class="order-filters">
        <label class="label-control">Today's Sales: </label>               
        <span *ngIf="todaySales == 0">0</span>
        <span *ngIf="todaySales > 0">{{todaySales | currency:"PKR":"3"}}</span>
      </div>
      <div class="order-filters">
        <label class="label-control">Today's Discount: </label>               
        <span *ngIf="discountsCount == 0">0</span>
        <span *ngIf="discountsCount > 0">{{discountsCount | currency:"PKR":"3"}}</span>
      </div>

      <div class="order-filters">
        <label class="label-control" (click)="goToRefunds()">Refunded Sales: </label>               
        <span *ngIf="refundsAmount == 0">0</span>
        <span *ngIf="refundsAmount > 0">{{refundsAmount | currency:"PKR":"3"}}</span>
      </div>
      <div class="order-filters">
        <label class="label-control">Total Discounts: </label>               
        <span *ngIf="TotalDiscounts == 0">0</span>
        <span *ngIf="TotalDiscounts > 0">{{TotalDiscounts | currency:"PKR":"3"}}</span>
      </div>

      <hr>
      <progressbar [max]="max" [value]="dynamic">
        <span style="color:white; white-space:nowrap;">{{(dynamic / max)*100 | number:'1.0-0'}}%</span>
      </progressbar>
      <span class="progress-num"><small><strong>{{dynamic | number:'1.0-0'}}</strong>&nbsp;Rs.</small> / <small><strong>{{max | number:'1.0-0'}}</strong>&nbsp;Rs.</small></span>


    </div>
        <!-- /#sidebar-wrapper -->
  <div class="header-pos col-md-9">
    <div class="entry-content">
      <div class="col-md-6">
        <div class="input-group form-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
          <input class="form-control input-sm" (change)="setFilterQuery(filterQuery)" [(ngModel)]="filterQuery" placeholder="Search By ID"/>
        </div>
      </div>
      <div class="col-md-6">
        <button (click)="goBack()" class="btn btn-danger btn-sm pull-right" name="goback">Back</button>
      </div>
    </div>
  </div>
  

    <div class="col-md-9 orders-table">
      <br>
      <div class="row">
        <div class="col-xs-12 col-12 col-sm-6 col-md-4 form-group">
          <input type="text" class="form-control" (ngModelChange)="setToDate($event)" placeholder="From Datepicker" bsDatepicker [ngModel]="datepickerModel" />
        </div>
        <div class="col-xs-12 col-12 col-sm-6 col-md-4 form-group">
          <input type="text" class="form-control" placeholder="To Datepicker" bsDatepicker [(ngModel)]="datepickerModel2" />
        </div>
        <div class="col-xs-12 col-12 col-md-2 form-group">
          <button (click)="dateRangeChange()" class="btn btn-success">Filter Sales</button>
        </div>
        <div class="col-xs-12 col-12 col-md-2 form-group">
          <button class="btn btn-danger" (click)="clearFilters()">Clear Filter</button>
        </div>
      </div>
      <!-- <table class="table table-hover table-stripped table-bordered" [mfData]="allOrders | orderFilter:filterQuery" #mf="mfDataTable" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder"> -->
      <table class="table table-hover table-stripped table-bordered" [mfData]="allOrders | orderFilter:filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
        <thead>
          <tr>
            <th><mfDefaultSorter by="orderId">Order ID</mfDefaultSorter></th>
            <th><mfDefaultSorter by="orderDateTime">Date/Time</mfDefaultSorter></th>
            <th><mfDefaultSorter by="orderCash">Cash</mfDefaultSorter></th>
            <th><mfDefaultSorter by="orderChnage">Change</mfDefaultSorter></th>
            <th><mfDefaultSorter by="orderDiscount">Discount</mfDefaultSorter></th>
            <th><mfDefaultSorter by="orderTotal">Total</mfDefaultSorter></th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of mf.data">
            <td><strong>Order#{{order.orderId }}</strong></td>
            <td>{{order._id | date:'medium' }}</td>
            <td>{{order.orderCash | number:'1.0-1'}}</td>
            <td>{{order.orderChange | number:'1.0-1'}}</td>
            <td>{{order.orderDiscount | number:'1.0-1'}}</td>
            <td>{{order.orderTotal | number:'1.0-1'}}</td>
            <td><span class="glyphicon glyphicon-eye-open" data-toggle="modal" [attr.data-target]="'#viewOrderModal' + order.orderId"></span>
              <span class="glyphicon glyphicon-remove" (click)="removeOrder(order)"></span>
            
              <!-- <span class="glyphicon glyphicon-remove" (click)="removeOrder(order._id)"></span> -->
              <!-- View Order Modal -->
              <div class="modal fade" [attr.id]="'viewOrderModal' + order.orderId" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="order-print-list">
                        <div class="company-info">
                          <span class="company-name">Ajeel</span>
                          <span class="company-name">Nature's Premium Gifts</span>
                          <span class="company-address">F-6 Commercial, Phase 1, DHA, Lahore</span>
                          <span class="company-phone">+92-42-35691607</span>
                        </div>
                        <div class="col-md-12 order-date-time">
                          <span id="oderId" class="col-md-3">Order&nbsp;#:&nbsp;{{order.orderId}}</span>
                          <span id="orderTimeStamp" class="col-md-9">{{order._id | date:'medium'}}</span>
                        </div> 
                        <div class="oredr-item-details" *ngFor="let product of order.orderItems">
                          <div class="col-md-6">
                            <span class="item-name-quantity">{{product.name}}</span>
                          </div>
                          <div class="col-md-2">
                            <span class="print-item-quantity" *ngIf="product.type === 'singleunit'">{{product.quantity}}</span>
                            <span class="print-item-quantity" *ngIf="product.type === 'weighted'">{{product.cartStockWeight/1000 | number:'1.1-4'}} KG</span>
                          </div>
                          <div class="col-md-2">
                            <span class="print-item-discount" *ngIf="product.discount == 0">{{product.discount}}</span>
                            <span class="print-item-discount" *ngIf="product.discount > 0">{{product.discount}}%</span>
                          </div>
                          <div class="col-md-2">
                            <span class="item-price" *ngIf="!product.discount && product.type === 'singleunit'"><strong>{{product.price * product.quantity | number:'1.1-2'}}Rs.</strong></span>
                            <span class="item-price" *ngIf="product.discount && product.type === 'singleunit'"><strong>{{(product.price * product.quantity)-((product.price * product.quantity) * (product.discount * 0.01)) | number:'1.1-2'}}Rs.</strong></span>
                            <span class="item-price" *ngIf="!product.discount && product.type === 'weighted'"><strong>{{product.price * product.cartStockWeight/1000 | number:'1.1-2'}}Rs.</strong></span>
                            <span class="item-price" *ngIf="product.discount && product.type === 'weighted'"><strong>{{(product.price * product.cartStockWeight/1000)-((product.price * product.cartStockWeight/1000) * (product.discount * 0.01)) | number:'1.1-2'}}Rs.</strong></span>

                          </div>    
                        </div>
                        <div class="order-print-total">
                          <span id="order-total">Total: <strong>{{order.orderTotal | number:'1.0-1'}}</strong></span>
                          <span id="order-discount">Disc: <strong>{{order.orderDiscount}}</strong></span>
                          <span id="order-cash">Cash: <strong>{{order.orderCash | number:'1.0-1'}}</strong></span>
                          <span id="order-change">Change: <strong>{{order.orderChange | number:'1.0-0'}}</strong></span>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal" #closeBtn>Close</button>
                      <button type="button" class="btn btn-primary" (click)="printInvoice(order.orderId)">Print Receipt</button>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <!-- <td><button type="button" class="btn btn-primary" (click)="openModalWithComponent()">Create modal with component</button></td> -->
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
            </td>
<!--             <td colspan="3">
              <button (click)="previousOrderPage()">Previous Page</button>
              <button (click)="nextOrderPage()">Next Page</button>
            </td> -->
          </tr>
          <tr>
          </tr>

        </tfoot>
      </table>

<!--       <modal #showOrderModal (onOpen)="showOrder(product)">
        <modal-header>
            <h3>Edit Product</h3>
        </modal-header>
        <modal-content>
          <h1>XYVZ</h1>
        </modal-content>
        <modal-footer>
            <button class="btn btn-primary btn-block" (click)="showOrderModal.close()">close</button>
        </modal-footer>
      </modal> -->


      <div *ngIf="!defaultProgressBar">
        
        <h4 class="mt-20 heading-title" style="text-align: center;">No. Of Sales & Revenue Per Month</h4>
        <div style="display: block">
          <canvas baseChart
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [chartType]="barChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)">
          </canvas>
        </div>
        

        <h4 class="mt-20 heading-title" style="text-align: center;">Revenue Generated Per Month</h4>
        <div style="display: block">
          <canvas baseChart
                      [data]="doughnutChartData"
                      [labels]="doughnutChartLabels"
                      [chartType]="doughnutChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)">
              </canvas>
        </div>

      </div>


      <div class="row" *ngIf="defaultProgressBar">
        <div class="col-md-12">
          
        
          <h4 class="mt-20 heading-title" style="text-align: center;">No. Of Sales & Revenue Per Day</h4>
          <div style="display: block">
            <canvas baseChart
                    [datasets]="barChartData2"
                    [labels]="barChartLabels2"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
            </canvas>
          </div>
        </div>

        
        <div class="col-md-6">
          <h4 class="mt-20 heading-title" style="text-align: center;">Revenue Generated This Month</h4>
          <div style="display: block" class="mt-20">
            <canvas baseChart
                    [data]="polarAreaChartData"
                    [labels]="polarAreaChartLabels"
                    [legend]="polarAreaLegend"
                    [chartType]="polarAreaChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>

        <div class="col-md-6">
          <h4 class="mt-20 heading-title" style="text-align: center;">No. Of Sales This month</h4>
          <div style="display: block">
            <canvas baseChart
                    [datasets]="barChartData3"
                    [labels]="barChartLabels3"
                    [options]="barChartOptions"
                    [legend]="barChartLegend3"
                    [chartType]="barChartType3"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
            </canvas>
          </div>
        </div>


      </div>

    </div>
  </div> 
