
  <div class="invoice-print" id="divToPrint" style="width:100%;">
    <div style="margin: 0 0px 10px;border-bottom: 1px solid #000; padding-bottom: 10px;">
      <span style="display:block;text-align:center;font-weight:bold;">Ajeel</span>
      <span style="display:block;text-align:center;font-weight:bold;">ALMONDS | DATES | HONEY</span>
      <span style="display:block;text-align:center;">Nature's Premium Gifts</span>
      <span style="display:block;text-align:center;font-size:12px;">F-6 Commercial, Phase 1, DHA, Lahore</span>
      <span style="display:block;text-align:center;font-size:12px;">+92-42-35691607</span>
    </div>
    <div style="border-bottom: 1px solid #000;padding-bottom: 10px;">
      <span style="font-size: 12px;display:block;">Order&nbsp;#:&nbsp;{{id}}</span>
      <span style="font-size: 12px;display: block;">Date:&nbsp;{{orderToShow?._id | date:'medium'}}</span>
    </div>
    <table>
      <thead>
        <tr>
          <td style="width:60%;padding: 8px 0;font-size: 13px;">Name</td>
          <td style="width:30%;padding: 8px 0;font-size: 13px;">Qty.</td>
          <td style="width:30%;padding: 8px 0;font-size: 13px;">Price</td>
          <td style="width:30%;padding: 8px 0;font-size: 13px;">Total</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of orderToShow?.orderItems">
          <td style="font-size:12px;padding: 8px 0;">{{product.name}}</td>
          <!-- <td style="font-size:12px;padding: 8px 0;">{{product.quantity}}</td> -->
          <td>
            <span style="font-size:12px;padding: 8px 0;" *ngIf="product.type === 'singleunit'">{{product.quantity}}</span>
            <span style="font-size:12px;padding: 8px 0;" *ngIf="product.type === 'weighted'">{{product.cartStockWeight/1000 | number:'1.1-4'}} KG</span>
          </td>
          <td style="font-size:12px;padding: 8px 0;">{{product.price | number:'1.0-1'}}</td>
<!--           <td style="font-size:12px;padding: 8px 0;" *ngIf="product.discount == 0">{{product.price * product.quantity | currency:"PKR":"3"}}</td>
          <td style="font-size:12px;padding: 8px 0;" *ngIf="product.discount > 0">{{(product.price * product.quantity)-((product.price * product.quantity) * (product.discount * 0.01))}}</td> -->
          <td>
            
            <span style="font-size:12px;padding: 8px 0;" *ngIf="!product.discount && product.type === 'singleunit'">{{product.price * product.quantity | number:'1.0-1'}}Rs.</span>
            <span style="font-size:12px;padding: 8px 0;" *ngIf="product.discount && product.type === 'singleunit'">{{(product.price * product.quantity)-((product.price * product.quantity) * (product.discount * 0.01)) | number:'1.0-1'}}Rs.</span>

            <span style="font-size:12px;padding: 8px 0;" *ngIf="!product.discount && product.type === 'weighted'">{{product.price * product.cartStockWeight/1000 | number:'1.0-1'}}Rs.</span>
            <span style="font-size:12px;padding: 8px 0;" *ngIf="product.discount && product.type === 'weighted'">{{(product.price * product.cartStockWeight/1000)-((product.price * product.cartStockWeight/1000) * (product.discount * 0.01)) | number:'1.0-1'}}Rs.</span>
          </td>


        </tr>
      </tbody>
    </table>
    <div style="display:block;border-top:1px solid #000;padding-top: 10px;">
      <span style="font-size: 12px;display:block;text-align:right;">Sale: <strong>{{orderToShow?.orderTotal | currency:"PKR":"3"}}</strong></span>
      <span style="font-size: 12px;display:block;text-align:right;">Disc: <strong>{{orderToShow?.orderDiscount | currency:"PKR":"3"}}</strong></span>
      <span style="font-size: 12px;display:block;text-align:right;">Net Sale Cash: <strong>{{orderToShow?.orderCash | currency:"PKR":"3"}}</strong></span>
      <span style="font-size: 12px;display:block;text-align:right;">Change: <strong>{{orderToShow?.orderChange | currency:"PKR":"3"}}</strong></span>
    </div>
    <div style="display:block;border-top:1px solid #000;padding-top: 10px;">
      <ol style="font-size: 10px;text-align:left;margin-left:0px;padding:5px 0px;">Terms & Conditions
        <li style="display:block;">Exchange issued on goods ONLY ACCOMPANIED by original receiept</li>
        <li style="display:block;">All claims must be made within 3 days of the purchase</li>
        <li style="display:block;">NO RUFUNDS on goods purchased</li>
        <li style="display:block;">All items must be SEALED and in the same condition as DATE OF PURCHASE</li>
      </ol>
      <span style="font-size: 10px;display:block;text-align:left;padding:5px 0px;">
        <strong style="display:block;">Made with <span class="glyphicon glyphicon-heart"></span> by Eyetea Corporation</strong>
        <strong style="display:block;">www.eyetea.co</strong>
      </span>

    </div>
  </div>
