#addProductBtn{
    margin-left: 8px;
}
.btn{
  border-radius: 0;
}
input, select{
  border-radius: 0;
}
.input-group-addon {
    border-radius: 0;
}
.form-add-product{
  padding: 30px !important;
}
.inval-number.has-error {
    font-size: 12px;
    display: inline;
    float: right;
    color: #cdcdcd;
}
.require-field {
    background: none;
    border: none;
    padding: 10px 5px;
    font-size: 12px;
}
.no-left-padding {
    padding-left: 0;
}

.no-right-padding {
    padding-right: 0;
}

.main .row {
    margin: 0;
}

.order-side-bar{
  padding:0;
  position: fixed;
  top:0;
  left: 0;
  background: #fff;
  height: 100%;
}
.order-side-bar h1,
.order-side-bar h2,
.order-side-bar h3,
.order-side-bar h4,
.order-side-bar h5,
.order-side-bar h6 {
    background: #4BAF4F;
    margin: 0;
    color: #eee;
    padding: 20px;
    border-right: 1px solid #f4f4f4;
    box-shadow:2px 1px 5px rgba(0,0,0,0.4);
}
.order-filters {
    padding: 15px;
}
.order-filters #total-stock-amount {
    font-size: 15px;
}
.orders-table {
        margin-left: 25%;
    margin-top: 6%;
}
.order-side-bar h4 > span {
    float: right;
    cursor: pointer;
    padding: 21px 12px;
    margin-top: -20px;
    margin-right: -21px;
    background: #d9534f;
    box-shadow: 2px 1px 5px rgba(0,0,0,0.4);
}
.order-side-bar h4 > span:hover {
    background-color: #a94442 !important;
}
.order-side-bar h4 span {
    font-size: 15px;
}
