<!-- #sidebar-wrapper -->
<div class="col-md-3 order-side-bar">
  <!-- Sidebar -->
  <h4>All Products
      <span (click)="addProductModal.open()" *ngIf="allProducts.length > 0">
        <span class="glyphicon glyphicon-plus"></span> Add More
      </span>
      <span (click)="addProductModal.open()" *ngIf="allProducts.length == 0">
        <span class="glyphicon glyphicon-plus"></span> Add
      </span>
  </h4>
  <div class="order-filters">
    <label class="label-control">Rows on page</label>
      <select class="form-control" [(ngModel)]="rowsOnPage">
          <option [ngValue]="10">10</option>
          <option [ngValue]="25">25</option>
          <option [ngValue]="50">50</option>
          <option [ngValue]="100">100</option>
      </select>
  </div>
  <div class="order-filters">
    <label class="label-control">Sort by</label>
    <select class="form-control" [(ngModel)]="sortBy">
        <option ngValue="name">Name</option>
        <option ngValue="price">Price</option>
        <option ngValue="stockval">Stock Value</option>
    </select>
  </div>
  <div class="order-filters">
    <label class="label-control">Order by</label>
    <select class="form-control" [(ngModel)]="sortOrder">
        <option ngValue="asc">Ascending</option>
        <option ngValue="desc">Descending</option>
    </select>
  </div>
  <div class="order-filters">
    <span id="total-stock-amount">Total Products:<strong>&nbsp;{{totalProducts}}</strong></span> 
  </div>  
  <div class="order-filters">
    <span id="total-stock-amount">Total Stock Value:<strong>&nbsp;{{totalStockValue | currency:"PKR"}}</strong></span> 
  </div>  
  <div class="order-filters">
    <span id="total-stock-amount">Available Products:<strong>&nbsp;{{availProducts}}</strong></span> 
  </div>  
  <div class="order-filters">
    <span id="total-stock-amount">Unavailable Products:<strong>&nbsp;{{unAvailProducts}}</strong></span> 
  </div>
</div>
<!-- /#sidebar-wrapper ends-->
<div class="header-pos col-md-9">
  <div class="entry-content">
    <div class="col-md-6">
      <div class="input-group form-group">
        <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
        <input class="form-control input-sm" [(ngModel)]="filterQuery" placeholder="Search By Name"/>
      </div>
    </div>
    <div class="col-md-6">
      <button (click)="goBack()" class="btn btn-danger btn-sm pull-right" name="goback">Back</button>
    </div>
  </div>
</div>
<modal #addProductModal>
  <modal-header>
      <h5>Add Product</h5>
  </modal-header>
  <modal-content>
    <form class="product-form" (ngSubmit)="addProduct(addProductForm.value, $event)" [formGroup]="addProductForm">
      <div class="form-group" [ngClass]="{'has-error':!addProductForm.controls['name'].valid && addProductForm.controls['name'].touched}">
        <label class="control-label" for="product-name">Name</label>
        <input type="text" class="form-control" [formControl]="addProductForm.controls['name']" formControlName="name" placeholder="Product Name" id="product-name" required/>
        <div class="alert alert-danger require-field" role="alert" *ngIf="addProductForm.controls['name'].hasError('required') && (addProductForm.controls['name'].touched || addProductForm.controls['name'].dirty)"><span class="glyphicon glyphicon-info-sign"></span> This is Required Field</div>
        <div class="alert alert-danger require-field" role="alert" *ngIf="addProductForm.controls['name'].hasError('minlength')"><span class="glyphicon glyphicon-info-sign"></span> Length must be 3!</div>
      </div>
      <hr>
      <div class="form-check form-check-inline">
        <input class="form-check-input" (change)="typeChanges($event)" [formControl]="addProductForm.controls['type']" formControlName="type" type="radio" id="inlineRadio1" value="weighted">
        <label class="form-check-label" for="inlineRadio1">Weighted</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" (change)="typeChanges($event)" type="radio" [formControl]="addProductForm.controls['type']" formControlName="type" id="inlineRadio2" value="singleunit">
        <label class="form-check-label" for="inlineRadio2">Single Unit</label>
      </div>
      <hr>
      <div class="form-group" [ngClass]="{'has-error':!addProductForm.controls['price'].valid && addProductForm.controls['price'].touched}">
        <label class="control-label" for="product-price">Price</label><div class="inval-number" [class.has-error]="!price.valid" *ngIf="!price.valid"><span class="glyphicon glyphicon-info-sign"></span> Enter a valid number !</div>
        <input [formControl]="addProductForm.controls['price']" formControlName="price" class="form-control" id="product-price" placeholder="{{typePlaceholder}}" type="text" name="product-price" #price="ngForm" required/>
        <div class="alert alert-danger require-field" role="alert" *ngIf="addProductForm.controls['price'].hasError('required') && (addProductForm.controls['price'].touched || addProductForm.controls['price'].dirty)"><span class="glyphicon glyphicon-info-sign"></span> This is Required Field</div>
      </div>
      <div class="form-group" *ngIf="addProductForm.controls['type'].value === 'singleunit'" [ngClass]="{'has-error':!addProductForm.controls['stockval'].valid && addProductForm.controls['stockval'].touched}">
        <label class="control-label" for="product-stockval">Stock Value</label><div class="inval-number" [class.has-error]="!stockval.valid" *ngIf="!stockval.valid"><span class="glyphicon glyphicon-info-sign"></span> Enter a valid number !</div>
        <input [formControl]="addProductForm.controls['stockval']" formControlName="stockval" class="form-control" id="product-stockval" placeholder="Product Stock Value" type="text" #stockval="ngForm" required/>
        <div class="alert alert-danger require-field" role="alert" *ngIf="addProductForm.controls['stockval'].hasError('required') && (addProductForm.controls['stockval'].touched || addProductForm.controls['stockval'].dirty)"><span class="glyphicon glyphicon-info-sign"></span> This is Required Field</div>
      </div>
      <div class="form-group" [ngClass]="{'has-error':!addProductForm.controls['weight'].valid && addProductForm.controls['weight'].touched}" *ngIf="addProductForm.controls['type'].value === 'weighted'">
        <label class="control-label" for="product-weight">Weight</label>
        <input [formControl]="addProductForm.controls['weight']" formControlName="weight" class="form-control" id="product-weight" placeholder="Total Product Weight" type="text" #weight="ngForm" />
      </div>

      <div class="form-group" [ngClass]="{'has-error':!addProductForm.controls['productBarCode'].valid && addProductForm.controls['productBarCode'].touched}">
        <label class="control-label" for="product-barcode">Bar Code</label>
        <input [formControl]="addProductForm.controls['productBarCode']" formControlName="productBarCode" (keypress)="process_barcode($event)" class="form-control" id="product-barcode" placeholder="Scan or enter Product Bar Code" type="text" required/>
        <div class="alert alert-danger require-field" role="alert" *ngIf="addProductForm.controls['productBarCode'].hasError('required') && (addProductForm.controls['productBarCode'].touched || addProductForm.controls['productBarCode'].dirty)"><span class="glyphicon glyphicon-info-sign"></span> This is Required Field</div>
        <div *ngIf="!scannedExists" class="alert alert-danger require-field"><span class="glyphicon glyphicon-info-sign"></span> Product Exists with same barcode</div>
      </div>
        <button type="submit" class="btn btn-success btn-block" name="addproduct" [disabled]="(!addProductForm.valid || !scannedExists)"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add</button>
    </form>
  </modal-content>
  <modal-footer>
      <button class="btn btn-primary btn-block" (click)="addProductModal.close()">close</button>
  </modal-footer>
</modal>
<div class="orders-table col-md-9" *ngIf="allProducts.length > 0">
  <table class="table table-hover table-bordered" [mfData]="allProducts | dataFilter: filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder"> 
    <thead class="thead-default">
      <tr>
        <th>
          <mfDefaultSorter by="name">Name</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="price">Price</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="stockval">Stock Value</mfDefaultSorter>
        </th>              
        <th>
          <mfDefaultSorter by="weight">Weight</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="productBarCode">Bar Code</mfDefaultSorter>
        </th>

        <th>
          Overall Stock Value
        </th>
        <th>
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of mf.data; let i=index">
        <td>{{product.name}}</td>
        <td>{{product.price | currency:"PKR"}}</td>
        <td *ngIf="product.type === 'singleunit'">{{product.stockval}}</td>
        <td *ngIf="product.type === 'weighted'">&nbsp;</td>
        <td *ngIf="product.type === 'weighted'">{{product.weight/1000}}</td>
        <td *ngIf="product.type === 'singleunit'">&nbsp;</td>
        <td>{{product.productBarCode}}</td>
        <td *ngIf="product.type === 'singleunit'">{{product.price * product.stockval | currency:"PKR"}}</td>
        <td *ngIf="product.type === 'weighted'">{{product.price * product.weight/1000 | currency:"PKR"}}</td>
        <td>
          <span class="destroy btn btn-danger glyphicon glyphicon-remove" (click)="deleteProduct(product._id)"></span>
          <span class="btn btn-primary glyphicon glyphicon-edit" (click)="editProductModal.open()" ></span>
          <modal #editProductModal (onOpen)="editProduct(product)">
            <modal-header>
                <h3>Edit Product</h3>
            </modal-header>
            <modal-content>
              <form class="product-form" (ngSubmit)="saveProduct(editProductForm.value, product, $event)" [formGroup]="editProductForm">
                <div class="form-group" [ngClass]="{'has-error':!editProductForm.controls['name'].valid && editProductForm.controls['name'].touched}">
                  <label class="control-label" for="product-name">Name</label>
                  <input type="text" [formControl]="editProductForm.controls['name']" class="form-control" formControlName="name" placeholder="Product Name" id="product-name" required/>
                  <div class="alert alert-danger require-field" role="alert" *ngIf="editProductForm.controls['name'].hasError('required') && (editProductForm.controls['name'].touched || editProductForm.controls['name'].dirty)"><span class="glyphicon glyphicon-info-sign"></span> This is Required Field</div>
                </div>
                <hr>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" (change)="typeChanges($event)" [formControl]="editProductForm.controls['type']" formControlName="type" type="radio" id="inlineRadio1" value="weighted">
                  <label class="form-check-label" for="inlineRadio1">Weighted</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" (change)="typeChanges($event)" type="radio" [formControl]="editProductForm.controls['type']" formControlName="type" id="inlineRadio2" value="singleunit">
                  <label class="form-check-label" for="inlineRadio2">Single Unit</label>
                </div>
                <hr>
                <div class="form-group" [ngClass]="{'has-error':!editProductForm.controls['price'].valid && editProductForm.controls['price'].touched}">
                  <label class="control-label" for="product-price">Price</label>
                  <!-- <div class="inval-number" [class.has-error]="!price.valid" *ngIf="!price.valid"><span class="glyphicon glyphicon-info-sign"></span> Enter a valid number !</div> -->
                  <input [formControl]="editProductForm.controls['price']" formControlName="price" class="form-control" id="product-price" placeholder="{{editPlaceholder}}" type="text" name="product-price" required/>
                  <div class="alert alert-danger require-field" role="alert" *ngIf="editProductForm.controls['price'].hasError('required') && (editProductForm.controls['price'].touched || editProductForm.controls['price'].dirty)"><span class="glyphicon glyphicon-info-sign"></span> This is Required Field</div>
                </div>
                <div class="form-group" *ngIf="editProductForm.controls['type'].value === 'singleunit'" [ngClass]="{'has-error':!editProductForm.controls['stockval'].valid && editProductForm.controls['stockval'].touched}">
                  <label class="control-label" for="product-stockval">Stock Value</label>
                  <!-- <div class="inval-number" [class.has-error]="!stockval.valid" *ngIf="!stockval.valid"><span class="glyphicon glyphicon-info-sign"></span> Enter a valid number !</div> -->
                  <input [formControl]="editProductForm.controls['stockval']" formControlName="stockval" class="form-control" id="product-stockval" placeholder="Product Stock Value" type="text" required/>
                  <div class="alert alert-danger require-field" role="alert" *ngIf="editProductForm.controls['stockval'].hasError('required') && (editProductForm.controls['stockval'].touched || editProductForm.controls['stockval'].dirty)"><span class="glyphicon glyphicon-info-sign"></span> This is Required Field</div>
                </div>
                <div class="form-group" [ngClass]="{'has-error':!editProductForm.controls['weight'].valid && editProductForm.controls['weight'].touched}" *ngIf="editProductForm.controls['type'].value === 'weighted'">
                  <label class="control-label" for="product-weight">Weight</label>
                  <input [formControl]="editProductForm.controls['weight']" formControlName="weight" class="form-control" id="product-weight" placeholder="Total Product Weight" type="text" #weight="ngForm" />
                  <!-- <div class="alert alert-danger require-field" role="alert" *ngIf="addProductForm.controls['stockval'].hasError('required') && (addProductForm.controls['stockval'].touched || addProductForm.controls['stockval'].dirty)"><span class="glyphicon glyphicon-info-sign"></span> This is Required Field</div> -->
                </div>
                <div class="form-group" [ngClass]="{'has-error':!editProductForm.controls['productBarCode'].valid && editProductForm.controls['productBarCode'].touched}">
                  <label class="control-label" for="product-barcode">Bar Code</label>
                  <input [formControl]="editProductForm.controls['productBarCode']" formControlName="productBarCode" (change)="process_barcode($event)" class="form-control" id="product-barcode" placeholder="Product Bar Code" type="text" required/>
                  <div class="alert alert-danger require-field" role="alert" *ngIf="editProductForm.controls['productBarCode'].hasError('required') && (editProductForm.controls['productBarCode'].touched || editProductForm.controls['productBarCode'].dirty)"><span class="glyphicon glyphicon-info-sign"></span> This is Required Field</div>
                  <div *ngIf="!scannedExists" class="alert alert-danger require-field"><span class="glyphicon glyphicon-info-sign"></span> Product Exists with same barcode</div>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block" [disabled]="!editProductForm.valid || !scannedExists" name="editproduct">Update</button>
                </div>
              </form>
            </modal-content>
            <modal-footer>
                <button class="btn btn-primary btn-block" (click)="editProductModal.close()">close</button>
            </modal-footer>
          </modal>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
          <td colspan="4">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
          </td>
      </tr>
    </tfoot>
  </table>
  <div *ngIf="allProducts.length == 0">
    <span>No Products to show. Add Product to Show here!</span>
  </div>
</div>

