<div class="home-main">

<div class="home-page">
  <div class="intro-text">
    <h1 class="intro-name">Aajeel</h1>
    <h4 class="intro-maker">ALMONDS | DATES | HONEY</h4>
    <h3 class="intro-maker">Nature's Premium Gifts</h3>
  <!--  <h3 class="intro-maker">eye<span>POS</span></h3>
    <p class="lead">Because Efficiency Matters</p> -->
  </div>
  <button class="logout-btn btn btn-danger" (click)="logout()">
    <span class="glyphicon glyphicon-log-out"></span> Logout
  </button>
</div>
<div class="buttons-block">
  <div class="btn-items">
    <div class="item-box">
      <a href="#/inventory" class="info-block">
        <span class="glyphicon glyphicon-folder-close item-box-icon"></span> <span class="item-box-title">Inventory</span>
      </a>
    </div>
    <div class="item-box">
      <a href="#/pos" class="info-block">
        <span class="glyphicon glyphicon-shopping-cart item-box-icon"></span> <span class="item-box-title">POS</span>
      </a>
    </div>
    <div class="item-box">
      <a href="#/transactions" class="info-block">
        <span class="glyphicon glyphicon-piggy-bank item-box-icon"></span> <span class="item-box-title">Transactions</span>
      </a>
    </div>
    <div class="item-box">
      <a href="#/home" class="info-block">
        <span class="glyphicon glyphicon-time item-box-icon"></span> <span class="item-box-title">Future Integrations</span>
      </a>
    </div>
  </div>
</div>
</div>
