.btn-items .item-box {
    padding: 0;
    width: 22%;
    display: inline-block;
    margin: 0 1%;
    /* background: rgba(10,88,164,0.4); */
    text-align: center;
    /* border-radius: 50%; */
    height: 150px;
    z-index: 999999;
    background: #fff;
    border-bottom: 3px solid #386ebf;
    box-shadow: 0px 0px 21px -6px #999;
    border-radius: 2px;
}
a.info-block{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
a.info-block:hover{
background-color: #ECF0F1;
}
.btn-items {
    margin: 0 auto;
    width: 90%;
    margin-top: -5%;
    z-index: 9999999;
    display: block;
}
.btn-items .item-box a span {
    color: #293B4D;
    position: absolute;
    width: 100%;
/*    line-height: 50px;*/
}
.buttons-block{
  width: 100%;
  display: inline-block;
}
.logout-btn {
    position: absolute;
    top: 25px;
    right: 30px;
    border-radius: 0;
}
.home-main {
    background: #F9F9F9;
    min-height:100%;
}
.intro-text .lead {
    color: #34495E;
    text-align: center;
    /* color: #AEBCBF; */
    /* color: #AEBCBF; */
    font-size: 18px;
    word-spacing: 8px;
    font-style: italic;
    margin-top: 30px;
}
/*.item-box .btn{
    background-color: #9DADCB;
}
.item-box .btn:hover {
    color: #fff;
    background-color: #6181BC;
}*/
.btn-items .item-box a span.item-box-icon {
    font-size: 1.3em;
    top: 42px;
    right: 0;
    color:#386ebf;
    /*padding: 30px 30px 20px;*/
}

.btn-items .item-box a span.item-box-title {
    font-size: 15px;
    top: 70px;
    right: 0;
    text-align: center;
    /*padding: 0px 30px 30px;*/
}
.home-page {
    min-height: 60vh;
    max-height:100%;
    padding-bottom:5%;
    display: inline-block;
    background: #4BAF4F;
    width: 100%;
}
.home-page .intro-text {
    color: #eee;
    margin-top: 9%;
    height: 35%;
    font-family: monospace;
}
.home-page .intro-text h4{
  color: #333;
  word-spacing: 20px;
  margin-top: 18px;
}
.home-page .intro-text h3{
  margin-top: 30px;
  color:#fff;
}
.home-page .intro-text h1{
  color:#fff;
  font-family: cursive;
}
.home-page .intro-text h1,
.home-page .intro-text h2,
.home-page .intro-text h3,
.home-page .intro-text h4,
.home-page .intro-text h5,
.home-page .intro-text h6 {
    font-weight: lighter;
    text-align:center;
    display:block;
}
