<div class="orders-content">
    <div class="col-md-3 order-side-bar">
      <!-- Sidebar -->
      <h4>Total Refunds: <span id="total-sales" *ngIf="refundsCount">&nbsp;{{refundsCount | currency:"PKR":"2"}}</span></h4>
      <div class="order-filters">
        <label class="label-control">Filter Refunds By Month</label>               
        <select [(ngModel)]="selectedMonth" class="form-control" (change)="getResultsByMonth(selectedMonth)">
          <option [ngValue]="0">All Refunds</option>
          <option ngValue="January">January</option>
          <option ngValue="February">February</option>
          <option ngValue="March">March</option>
          <option ngValue="April">April</option>
          <option ngValue="May">May</option>
          <option ngValue="June">June</option>
          <option ngValue="July">July</option>
          <option ngValue="August">August</option>
          <option ngValue="September">September</option>
          <option ngValue="October">October</option>
          <option ngValue="November">November</option>
          <option ngValue="December">December</option>
        </select>
      </div>
<!--       <div class="order-filters">
        <label class="label-control">Today's Sales: </label>               
        <span *ngIf="todaySales == 0">0</span>
        <span *ngIf="todaySales > 0">{{todaySales | currency:"PKR":"3"}}</span>
      </div>
      <div class="order-filters">
        <label class="label-control">Refunded Sales: </label>               
        <span *ngIf="refundsAmount == 0">0</span>
        <span *ngIf="refundsAmount > 0">{{refundsAmount | currency:"PKR":"3"}}</span>
      </div> -->



    </div>
        <!-- /#sidebar-wrapper -->
  <div class="header-pos col-md-9">
    <div class="entry-content">
      <div class="col-md-6">
        <div class="input-group form-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
          <input class="form-control input-sm" (change)="setFilterQuery(filterQuery)" [(ngModel)]="filterQuery" placeholder="Search By ID"/>
        </div>
      </div>
      <div class="col-md-6">
        <button (click)="goBack()" class="btn btn-danger btn-sm pull-right" name="goback">Back</button>
      </div>
    </div>
  </div>
  

    <div class="col-md-9 orders-table">
      <br>
<!--       <div class="row">
        <div class="col-xs-12 col-12 col-sm-6 col-md-4 form-group">
          <input type="text" class="form-control" (ngModelChange)="setToDate($event)" placeholder="From Datepicker" bsDatepicker [ngModel]="datepickerModel" />
        </div>
        <div class="col-xs-12 col-12 col-sm-6 col-md-4 form-group">
          <input type="text" class="form-control" placeholder="To Datepicker" bsDatepicker [(ngModel)]="datepickerModel2" />
        </div>
        <div class="col-xs-12 col-12 col-md-2 form-group">
          <button (click)="dateRangeChange()" class="btn btn-success">Filter Sales</button>
        </div>
        <div class="col-xs-12 col-12 col-md-2 form-group">
          <button class="btn btn-danger" (click)="clearFilters()">Clear Filter</button>
        </div>
      </div> -->
      <table class="table table-hover table-stripped table-bordered" [mfData]="allRefunds | orderFilter:filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
        <thead>
          <tr>
            <th><mfDefaultSorter by="refundId">ID</mfDefaultSorter></th>
            <th><mfDefaultSorter by="_id">Date/Time</mfDefaultSorter></th>
            <th><mfDefaultSorter by="refundAmount">Cash</mfDefaultSorter></th>
            <!-- <th><mfDefaultSorter by="orderChnage">Change</mfDefaultSorter></th> -->
            <!-- <th><mfDefaultSorter by="orderDiscount">Discount</mfDefaultSorter></th> -->
            <!-- <th><mfDefaultSorter by="orderTotal">Total</mfDefaultSorter></th> -->
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of mf.data">
            <td><strong>{{order.refundId }}</strong></td>
            <td>{{order._id | date:'medium' }}</td>
            <td>{{order.refundAmount}}</td>
            <!-- <td>{{order.orderChange}}</td> -->
            <!-- <td>{{order.orderDiscount}}</td> -->
            <!-- <td>{{order.orderTotal}}</td> -->
            <td><span class="glyphicon glyphicon-eye-open" data-toggle="modal" [attr.data-target]="'#viewOrderModal' + order.refundOrderId"></span>
            <!-- <td> -->
              <!-- <span class="glyphicon glyphicon-remove" (click)="removeOrder(order._id)"></span> -->
              <div class="modal fade" [attr.id]="'viewOrderModal' + order.refundOrderId" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="order-print-list">
                        <div class="company-info">
                          <span class="company-name">Ajeel</span>
                          <span class="company-name">Nature's Premium Gifts</span>
                          <span class="company-address">F-6 Commercial, Phase 1, DHA, Lahore</span>
                          <span class="company-phone">+92-42-35691607</span>
                        </div>
                        <div class="col-md-12 order-date-time">
                          <span id="oderId" class="col-md-3">Order Ref&nbsp;#:&nbsp;{{order.refundOrderId}}</span>
                          <span id="orderTimeStamp" class="col-md-9">{{order._id | date:'medium'}}</span>
                        </div> 
                        <div class="oredr-item-details" *ngFor="let product of order.refundItems">
                          <div class="col-md-6">
                            <span class="item-name-quantity">{{product.name}}</span>
                          </div>
                          <div class="col-md-2">
                            <span class="print-item-quantity">{{product.quantity}}</span>
                          </div>
                          <div class="col-md-2">
                            <span class="print-item-discount" *ngIf="product.discount == 0">{{product.discount}}</span>
                            <span class="print-item-discount" *ngIf="product.discount > 0">{{product.discount}}%</span>
                          </div>
                          <div class="col-md-2">
                            <span class="item-price" *ngIf="!product.discount"><strong>{{product.price * product.quantity }}Rs.</strong></span>
                            <span class="item-price" *ngIf="product.discount"><strong>{{(product.price * product.quantity)-((product.price * product.quantity) * (product.discount * 0.01))}}Rs.</strong></span>
                          </div>    
                        </div>
                        <div class="order-print-total">
                          <span id="order-total">Total: <strong>{{order.refundAmount}}</strong></span>
                          <!-- <span id="order-discount">Disc: <strong>{{order.orderDiscount}}</strong></span> -->
                          <!-- <span id="order-cash">Cash: <strong>{{order.orderCash}}</strong></span> -->
                          <!-- <span id="order-change">Change: <strong>{{order.orderChange}}</strong></span> -->
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal" #closeBtn>Close</button>
                      <!-- <button type="button" class="btn btn-primary" (click)="printInvoice(order.orderId)">Print Receipt</button> -->
                    </div>
                  </div>
                </div>
              </div>
            <!-- </td> -->
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div> 
