<div class="login-screen">
  <div class="login-page">

<!--     <div class="form">
      <div class="logo">
        <img class="logo" alt="ePOS" src="assets/images/logo.png" />
      </div>
      <form class="login-form" (ngSubmit)="login(loginForm.value, $event)" [formGroup]="loginForm">
        <div class="alert alert-danger" *ngIf="errorMsg">
          <strong>{{errorMsg}}</strong>
        </div>
        <div class="group">   
          <input type="text" placeholder="email" id="email"
            type="email" name="email" [formControl]="loginForm.controls['email']" class="form-control" formControlName="email" />
          <span class="bar"></span>
        </div>
        <div class="group">   
          <input id="password" placeholder="password" type="password" name="password" [formControl]="loginForm.controls['password']" class="form-control" formControlName="password" />
          <span class="bar"></span>
        </div>
        <button type="submit" name="action" [disabled]="!loginForm.valid">&nbsp;&nbsp;login</button>
      </form>
    </div> -->
    <div class="form">
      <div class="logo">
        <img class="logo" alt="ePOS" src="assets/images/logo.png" />
      </div>
      <form class="login-form" (ngSubmit)="login(loginForm.value, $event)" [formGroup]="loginForm">
        <div class="alert alert-danger" *ngIf="errorMsg">
          <strong>{{errorMsg}}</strong>
        </div>
        <div class="group" [ngClass]="{'has-error':!loginForm.controls['email'].valid && loginForm.controls['email'].touched}">
            <!-- <label class="control-label" for="customer-email">Email</label> -->
            <input type="text" [formControl]="loginForm.controls['email']" class="form-control" formControlName="email" placeholder="Enter Email" id="customer-email" required/>
            <div class="alert alert-danger require-field" role="alert" *ngIf="loginForm.controls['email'].hasError('required') && (loginForm.controls['email'].touched || loginForm.controls['email'].dirty)"><span class="glyphicon glyphicon-info-sign"></span> This is Required Field</div>
        </div>
        <div class="group" [ngClass]="{'has-error':!loginForm.controls['password'].valid && loginForm.controls['password'].touched}">
            <!-- [ngClass]="{'has-error':!loginForm.controls['phone'].valid && loginForm.controls['phone'].touched}"> -->
            <!-- <label class="control-label" for="customer-password">Password</label> -->
            <input [formControl]="loginForm.controls['password']" formControlName="password" class="form-control" id="customer-password" placeholder="Enter Password" type="password" name="customer-password" required/>
            <div class="alert alert-danger require-field" role="alert" *ngIf="loginForm.controls['password'].hasError('required') && (loginForm.controls['password'].touched || loginForm.controls['password'].dirty)"><span class="glyphicon glyphicon-info-sign"></span> This is Required Field</div>
            <!-- <div class="alert alert-danger require-field" role="alert" *ngIf="loginForm.controls['phone'].hasError('required') && (loginForm.controls['phone'].touched || loginForm.controls['phone'].dirty)"><span class="glyphicon glyphicon-info-sign"></span> This is Required Field</div> -->
        </div>

        <!-- <div class="form-group"> -->
            <button type="submit" class="btn btn-primary btn-block" [disabled]="!loginForm.valid" name="loginForm"><span class="glyphicon glyphicon-icon-login"></span>Login</button>
        <!-- </div> -->
      </form>
    </div>
  </div>
</div>