@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 11% 0 0;
  margin: auto;
  padding-bottom:30px;
}
.form {
  position: relative;
  z-index: 1;
  background: #f9f9f9;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 25px 10%;
  text-align: center;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.2), 0 5px 1px -12px rgba(0, 0, 0, 0.24);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    background-color: #f9f9f9 !important;
    color: #555 !important;
    -webkit-box-shadow: 0 0 0 1000px #f9f9f9 inset !important;
    -webkit-text-fill-color: #555555 !important;
    }
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  border-bottom: 1px solid #aaa;
  background-color: #f9f9f9 !important;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #386ebf;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 2px;
}
.form button:hover,.form button:active,.form button:focus {
  background: #0A58A4;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

.logo{
  margin: 5px 5px;
}

.group        {
  position:relative;
  margin:30px 0;
}
input         {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  max-width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus     { outline:none; }

/* LABEL ======================================= */
label          {
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label    {
  top:-20px;
  font-size:14px;
  color:#213452;
}

/* BOTTOM BARS ================================= */
.bar  { position:relative; display:block; width:300px; }
.bar:before, .bar:after   {
  content:'';
  height:1px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#0E7AC4;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:46%;
}
.bar:after {
  right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after, input:-webkit-autofill:active ~ .bar:after,
input:-webkit-autofill:focus ~ .bar:after,input:-webkit-autofill:active ~ .bar:before,
input:-webkit-autofill:focus ~ .bar:before,input:-webkit-autofill ~ .bar:after,
input:-webkit-autofill ~ .bar:after,input:-webkit-autofill ~ .bar:before,
input:-webkit-autofill ~ .bar:before {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
