/*@font-face {
  font-family: "Poppins--Regular";
  src: url('/assets/fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Poppins-Regular.woff') format('woff'),
       url('/assets/fonts/Poppins-Regular.ttf')  format('truetype'),
       url('/assets/fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
  /*src: url("/assets/fonts/my-custom-font.woff") format("woff")*/
}*/
.product-table tbody tr:hover{
}
body{
  min-height:100%;
font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
	background-color: #f4f4f4 !important;
	color:#666;
}
.mainBody{
  font-family: "Roboto", sans-serif;
  color:#666;
}
.main-container{
	min-height:100%;
	color:#666;
}
.table,table{
	color:#666;
}
.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td
{
	vertical-align: middle !important;
}
th a, th {
    font-weight: 500;
    color: #f2f2f2;
}
.table thead {
    background: #386ebf;
}
.table tr:nth-child(2n) {
    background: #fff;
}
.login-screen{
	 background: -webkit-linear-gradient(-45.2deg, #ECF0F1 0%,#ECF0F1 49.9%,#4BAF4F 50%,#4BAF4F 100%);
	min-height:100%;
}
/*Scroll Bar*/
::-webkit-scrollbar {
    width: 4px;
    height:4px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(210,210,210,0.4);

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(14,122,196,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(65,70,86,0.4);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
	    -webkit-appearance: none;
    background: #FFF url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVQYlWNgwAT/sYhhKPiPT+F/LJgEsHv37v+EMGkmkuImoh2NoQAANlcun/q4OoYAAAAASUVORK5CYII=) no-repeat center center;
    width: 1em;
    border-left: 1px solid #BBB;
    opacity: .5; /* shows Spin Buttons per default (Chrome >= 39) */
    position: absolute;
    top: 0;
    right: 0;
}
input[type=number]::-webkit-inner-spin-button:before{
	content:"+";
}


input[type=number] {
    width: 45px;
    height: 35px;
    line-height: 1.65;
    float: left;
    display: block;
    margin: 0;
    border: 1px solid #eee;
    text-align: center;
    padding-right: 3px;
}

input[type=number]:focus {
  outline: 0;
}

/*Header*/
.header-pos {
    /*background: #16a086;*/
    box-shadow: 2px 1px 5px rgba(0,0,0,0.4);
    background: #4BAF4F;
    position: fixed !important;
    top: 0;
    width:inherit;
    z-index: 99;
    padding: 8px 15px 2px;
    right:0;
}

.header-pos .entry-content {
    margin-top: 5px;
}
.btn-success:active:hover,
.btn-success:active:focus,
.btn-success:active.focus,
.btn-success.active:hover,
.btn-success.active:focus,
.btn-success.active.focus,
.open > .btn-success.dropdown-toggle:hover,
.open > .btn-success.dropdown-toggle:focus,
.open > .btn-success.dropdown-toggle.focus {
    color: #fff;
    background-color: transparent !important;
    border-color: transparent !important;
    outline: none !important;
}
.btn-danger:active:hover,
.btn-danger:active:focus,
.btn-danger:active.focus,
.btn-danger.active:hover,
.btn-danger.active:focus,
.btn-danger.active.focus,
.open > .btn-danger.dropdown-toggle:hover,
.open > .btn-danger.dropdown-toggle:focus, .open > .btn-danger.dropdown-toggle.focus {
    color: #fff;
    /*background-color: transparent;*/
    border-color: transparent !important;
    outline: none !important;
}

.heading-title {
    background: #4BAF4F;
    padding: 20px;
    color: #fff;
    text-transform: uppercase;
}
.progress-num {
    display: block;
    text-align: center;
}

.orders-content .progress {
    margin: 10px;
}
